# macOS
.DS_Store

# sbt specific
slox/dist/*
slox/target/
lib_managed/
src_managed/
slox/project/boot/
slox/project/plugins/project/
slox/project/local-plugins.sbt
slox/project/project/
slox/project/target/
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
slox/.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
slox/.idea
slox/.idea_modules
/.worksheet/

# rlox
rlox/target/
